#shopify-section-sections--18704709091382__section_rrNTej{
   height: 328px;
   background-color: #F2F0F0
}
#shopify-section-sections--18704709091382__section_rrNTej .custom-section-background{
    display: none;
}
#shopify-section-sections--18704709091382__section_rrNTej .section.section--page-width.color-scheme-2{
    height: 100%!important;
}
/* #shopify-section-sections--18704709091382__section_rrNTej rte-formatter.spacing-style.text-block.text-block--ASU9vUkdsNnJBTmFoN__text_HQcjtq.paragraph.text-block--align-center.rte p{ 
    font-size: 16px;
} */
li.menu__item.paragraph:not(last-child) {
    margin-bottom: 12px;
}

@media (max-width: 768px) {
    /* rte-formatter.spacing-style.text-block.text-block--ATUt1MzJTcmNhSlF6R__text_tEK89K.rte.rte h4 {
      display: none;
    }
    rte-formatter.spacing-style.text-block.text-block--ATVhwWkJBcjh4TVM3U__text_R6f7Lw.rte.rte h4 {
      display: none;
    }
    rte-formatter.spacing-style.text-block.text-block--AaHlibzloVjhMNlMvS__text_xRKrbN.rte.rte h4 {
      display: none;
    } */
    .company-info-block__heading {
      display: none;
    }
    .company-info-block__links {
        display: none;
    }
    div#shopify-block-AcHRjYkpCeU1VL1c1Z__company_info_44mYBT{
        width: 100%; 
    }
    .company-info-block {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 26px;
    }
    .company-info-block__column{
        gap:22px;
    }
    .company-info-block__social-link{
        width: 32px;
        height: 32px;
    }
    .divider.divider-AY3BoaDUyYURwUkVTZ__divider_hFm3am.spacing-style{
        margin-top:28px;

    }
    #shopify-section-sections--18704709091382__section_b8iBbP .menu__heading__accordion{
        font-size: 16px;   
    }
    #shopify-section-sections--18704709091382__section_b8iBbP .group-block-content.layout-panel-flex.layout-panel-flex--column.mobile-column{
        gap: 0!important;
    }
    .menu--accordion .menu__heading--empty {
        text-transform: uppercase;

  }
}
  @media (min-width: 768px) {
    .divider.divider-AU0VFTjI3NnYwWHZtQ__divider_eWVPT9.spacing-style{
        display: none;
    }  
  
    accordion-custom.menu.menu--accordion.menu--plus.menu--dividers:first-child{
        display: none!important;
    }
 
}
summary.menu__heading.menu__heading--empty.h3{
    text-transform: uppercase;
}
  